@define-color mantle #1e2030;
@define-color base rgb(17, 17, 17);
@define-color text #cad3f5;
@define-color surface0 #363a4f;
@define-color surface2 #5b6078;
@define-color blue #8aadf4;
@define-color green #a6da95;
@define-color peach #f5a97f;
@define-color rosewater #f4dbd6;
@define-color lavender #b7bdf8;
@define-color yellow #eed49f;
@define-color red #ed8796;
@define-color maroon #ee99a0;
@define-color teal #8bd5ca;
@define-color sky #91d7e3;
@define-color sapphire #7dc4e4;
@define-color mauve #c6a0f6;
@define-color pink #f5bde6;
@define-color border rgba(219, 219, 219, 0.4);
@define-color shadow rgb(26, 26, 26);

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#battery, #cpu, #memory, #clock, #bluetooth, #pulseaudio, #tray {
  background-color: alpha(@base, 0.9);
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border-radius: 10px;
  border: 1px solid @border;
  background-clip: padding-box;
}

window#waybar {
  background-color: transparent;
}
window > box {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#tray {
  color: rgb(255, 255, 255);
  padding: 10px
}
#memory {
  color: rgb(255, 255, 255);
  padding: 10px;
}
#cpu {
  color: rgb(255, 255, 255);
  padding: 10px;
}
#clock {
  color: rgb(255, 255, 255);
  padding: 10px;
}
#pulseaudio {
  color: rgb(255, 255, 255);
  padding: 10px;
}
#battery.charging, #battery.full, #battery.discharging {
  color: rgb(255, 255, 255);
  padding: 10px;
}
#battery.critical:not(.charging) {
  color: rgb(242, 143, 173);
  padding: 10px;
}
